.form_reg {
    max-width: 400px; /* Максимальная ширина формы */
    margin: 0 auto; /* Центрирование формы */
    padding: 20px; /* Внутренний отступ */
    border: 1px solid #ddd; /* Граница формы */
    border-radius: 10px; /* Скругленные углы */
    background-color: #f9f9f9; /* Цвет фона формы */
    font-family: 'Inter', sans-serif
}

/* Стили для заголовка "Регистрация" */
.form_reg h2 {
    text-align: center; /* Выравнивание текста по центру */
    font-family: 'Inter', sans-serif
}

/* Стили для полей ввода */
.form_reg input {
    width: 100%; /* Ширина поля ввода */
    margin-bottom: 10px; /* Отступ снизу */
    padding: 8px; /* Внутренний отступ */
    box-sizing: border-box; /* Учитывать границу и внутренний отступ в общей ширине */
    border: 1px solid #ddd; /* Граница поля ввода */
    border-radius: 5px; /* Скругленные углы поля ввода */
    font-family: 'Inter', sans-serif
}

/* Стили для кнопки отправки формы */
.form_reg input[type="submit"] {
    width: 100%; /* Ширина кнопки */
    padding: 10px; /* Внутренний отступ кнопки */
    border: none; /* Убрать границу */
    border-radius: 5px; /* Скругленные углы кнопки */
    background-color: #4CAF50; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    cursor: pointer; /* Изменить курсор при наведении */
    font-family: 'Inter', sans-serif
}

/* Стили для ссылки "Авторизуйтесь" */
.form_reg a[name="avto"] {
    text-decoration: none; /* Убрать подчеркивание ссылки */
    color: #0000EE; /* Цвет ссылки */
    display: block; /* Сделать ссылку блочным элементом */
    text-align: center; /* Выравнивание текста по центру */
    margin-top: 10px; /* Отступ сверху */
    font-family: 'Inter', sans-serif
}
.avtor_form{
    max-width: 400px; /* Максимальная ширина формы */
    margin: 0 auto; /* Центрирование формы */
    padding: 20px; /* Внутренний отступ */
    border: 1px solid #ddd; /* Граница формы */
    border-radius: 10px; /* Скругленные углы */
    background-color: #f9f9f9; /* Цвет фона формы */
    font-family: 'Inter', sans-serif
}
.avtor_form_h2{
    text-align: center; /* Выравнивание текста по центру */
    font-family: 'Inter', sans-serif
}
.avtor_form input {
    width: 100%; /* Ширина поля ввода */
    margin-bottom: 10px; /* Отступ снизу */
    padding: 8px; /* Внутренний отступ */
    box-sizing: border-box; /* Учитывать границу и внутренний отступ в общей ширине */
    border: 1px solid #ddd; /* Граница поля ввода */
    border-radius: 5px; /* Скругленные углы поля ввода */
    font-family: 'Inter', sans-serif
}

/* Стили для кнопки отправки формы */
.avtor_form input[type="submit"] {
    width: 100%; /* Ширина кнопки */
    padding: 10px; /* Внутренний отступ кнопки */
    border: none; /* Убрать границу */
    border-radius: 5px; /* Скругленные углы кнопки */
    background-color: #4CAF50; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    cursor: pointer; /* Изменить курсор при наведении */
    font-family: 'Inter', sans-serif
}